/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
    height: 100%:
}
 
.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
    height: 100%;
    overflow-y: scroll;
}
 
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}
 
h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}
 
form {
    bottom: 0;
    position: absolute;
    padding: 10px;
    width: 100%;
    max-width: 580px;
    background-color: white;
    border-top: 1px solid #eee;
    box-shadow: 0px -1px 1px rgb(242, 242, 242);
}
 
.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}
 
.new-task input:focus{
    outline: 0;
}
 
ul {
    margin: 0;
    padding: 0;
    background: white;
    margin-bottom: 30px;
}
 
li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .sender {
    display: block;
    color: grey;
    margin-bottom: 3px
}
 
@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
 
    .search {
        width: 150px;
        clear: both;
    }
 
    .new-task input {
        padding-bottom: 5px;
    }
}